<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="GameSite" connectionString="Server=localhost\sqldev01;Database=GameSite;User Id=LPuser; Password=Pa$$word;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
